.malestyle{
    background-color: #CDF0EA;
    border-radius: 5px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
    padding: 2px;
    cursor: url("https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/sony/336/baby_1f476.png"), auto;  
}
.femalestyle{
    background-color: #F6C6EA;
    border-radius: 5px;
    padding: 2px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
    cursor: url("https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/sony/336/girl_1f467.png"), auto;  
}
.allnamesblock{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-bottom: 40px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.allblock{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border: 3px solid;
    border-radius: 20px;
    border-bottom-color: blue;
    border-right-color: blue;
    border-left-color: crimson;
    border-top-color: crimson;
    background-color: #f8f8f1; 
    

}

.searchinput{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.favorites{
    justify-content: left;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
}